<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="offset-md-2 col-md-8 offset-md-2">
        <div class="form-group">
          <img class="img-fluid" src="/assets/images/505.png" alt="505">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-4 col-md-4 offset-md-4">
        <div class="form-group text-center">
          <a [routerLink]="['/']" class="btn btn-secondary">Return</a>
        </div>
      </div>
    </div>
  </div>
</div>